<%
   section_id = "typed_identifiers" if section_id.blank?
%>

<section id="<%= section_id %>">
  <h3><%= I18n.t("typed_identifier._plural") %></h3>
  <% typed_identifiers.each_with_index do | typed_identifier, index | %>
    <div class="form-group">
      <label class="col-sm-2 control-label">
        <%= I18n.t("enumerations.typed_identifier_type." + typed_identifier["id_type"]) %> (<%= typed_identifier["id_type"] %>)
      </label>
      <div class="col-sm-10 label-only">
          <%= typed_identifier["identifier"] %>
      </div>
    </div>
  <% end %>
</section>
